:root {
  --font-family: 'HelveticaNowDisplay';
  --secondary-font-family: 'Menlo';
  --primary-text-color: #000;
  --secondary-text-color: rgba(000, 000, 000, 0.5);
  --tertiary-text-color: #043bff;
  --background-color: #f0f1f2;
  --border-color: #c7c7c7;
}
